
.Blog ul {
    list-style: none;
    width: 100%; 
    margin: auto;
    padding: 0;   
}

.Blog li{
    display: inline-block; 
    margin: 20px; 
}

.Blog a{
    text-decoration: none;
}

.Blog a:hover, 
.Blog a:active, 
.Blog a.active{
    color: orange;
}

.Blog a.my-active{
    color: purple;
}